/lib/python3.7/site-packages/
/.idea/inspectionProfiles/
/bin/
/dist/
/MANIFEST
.idea/DataGenerator.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/NlpToolkit_DataGenerator.egg-info/dependency_links.txt
/NlpToolkit_DataGenerator.egg-info/PKG-INFO
/NlpToolkit_DataGenerator.egg-info/requires.txt
/NlpToolkit_DataGenerator.egg-info/SOURCES.txt
/NlpToolkit_DataGenerator.egg-info/top_level.txt
